.dialogs{
    display: grid;
    grid-auto-columns: 45% 50%;
    grid-auto-rows: 85% 15%;
    grid-template-areas:
    "d m"
    "none imput"
    ;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.messages{
    margin-top: 10px;
    grid-area: m;
    border-top: 1px solid #E89A00;
    border-left: 1px solid #E89A00;
    border-right: 1px solid #E89A00;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-areas:
    "MI"
    ;
    overflow: auto;
}

.dialogsItems{
    grid-area: d;
}

.dialogsItems .active .dialog {
    border: 2px solid #E80000;
}

.dialog{
    margin: 10px;
    height: 50px;
    text-align: left;
    padding: 10px;
    border: 1px solid #E89A00;
}

.dialog img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.messageItemWrapper{
    grid-area: MI;
}

.inputMessageWrapper{
    grid-area: imput;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding-right: 30px;
    padding-left: 8px;
    border-left: 1px solid #E89A00;
    border-right: 1px solid #E89A00;
    border-bottom: 1px solid #E89A00;
    padding-bottom: 5px;
}